.fp-container{
    background: aliceblue;
    padding: 1rem;
    border-radius: 2%;
    margin-bottom: 1.5rem;
}
.fp-title{
    font-weight: bold;
}
.fp-steps{
    text-align: left;
}
.ui.form .fields > .field:first-child {
    width: 100%;
}